@model KM.SysControlAdmin.EN.User___EN.User

@{
    ViewData["Title"] = "Información del Usuario";
}

<link href="/css/User/DesignInformation.css" rel="stylesheet" />

<div class="user-container">
    <div class="user-info">
        <img src="@(ViewBag.ImageUrl != null ? "data:image/jpeg;base64," + ViewBag.ImageUrl : "")" alt="Foto de Usuario" class="user-photo">
        <h2>@Model.Name @Model.LastName</h2>
        <p>@Model.Email</p>
        <p>@Model.Role!.Name</p>
    </div>
</div>

@section Scripts {
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 8000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer);
                toast.addEventListener('mouseleave', Swal.resumeTimer);
            }
        });

        const alertMessage = '@ViewBag.AlertMessage';

        if (alertMessage) {
            Toast.fire({
                icon: "success",
                title: "¡Modificado Exitosamente!",
                text: alertMessage
            });
        }
    </script>
}