@model IEnumerable<KM.SysControlAdmin.EN.Course___EN.Course>

@{
    ViewData["Title"] = "Mis Cursos Asignados";
}

<link href="/css/Trainer/DesignCreateAndEdit.css" rel="stylesheet" />

<br />
<h3>Mis Cursos Asignados</h3>
<hr />

@if (!Model.Any())
{
    <div class="alert alert-warning text-center">
        <strong>No tienes cursos asignados actualmente.</strong>
    </div>
}
else
{
    <br />
    <h2 style="text-align:center;">Listado de Cursos</h2>
    <br />
    <table id="CoursesTable" class="hover" style="width:100%; text-align:center;">
        <thead>
            <tr>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.MaxStudent)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th style="text-align:center;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Code)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.MaxStudent) Máximo</td>
                    <td>
                        @(item.Status == 1 ? "ACTIVO" :
                            item.Status == 2 ? "INACTIVO" : "")
                    </td>
                    <td>
                        <a asp-action="" asp-route-id="@item.Id" class="btn btn-outline-info m-1" title="Lista de Alumno">
                            Alumnos Del Curso
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    <script>
        // Tabla con DataTable
        new DataTable('#CoursesTable', {
            info: false,
            order: false,
            responsive: true,
            pagingType: 'simple_numbers',
            language: {
                search: 'Busqueda Rápida:',
                searchPlaceholder: 'Buscar curso...',
                lengthMenu: '_MENU_ Mostrar',
                emptyTable: 'No tienes cursos asignados actualmente.',
                zeroRecords: 'No se encontraron cursos.',
                processing: 'Procesando...',
            }
        });
    </script>
}
